In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
data['profit'] = data.revenue - data.budget
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
#берем значения бюджета и выводим название фильма с самым большим
data.original_title.loc[data['budget'].idxmax()]

'Pirates of the Caribbean: On Stranger Tides'

In [7]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [10]:
#берем значения продолжительности фильмов и выводим название самого длинного фильма
data.original_title.loc[data['runtime'].idxmax()]

'Gods and Generals'

In [11]:
answers['2'] = 'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
#берем значения продолжительности фильмов и выводим название самого короткого фильма
data.original_title.loc[data['runtime'].idxmin()]

'Winnie the Pooh'

In [13]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [14]:
#вычисляем среднюю длительность всех фильмов
data.runtime.mean()

109.6585494970884

In [15]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [16]:
#вычисляем медианное значение длительности всех фильмов
data.runtime.median()

107.0

In [17]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
#берем самый прибыльный фильм из добавленной колонки profit и выводим название фильма
data.original_title.loc[data['profit'].idxmax()]

'Avatar'

In [19]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [20]:
#берем самый убыточный фильм из добавленной колонки profit и выводим название фильма
data.original_title.loc[data['profit'].idxmin()]

'The Lone Ranger'

In [21]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
#выводим список прибыльных фильмов
data[data.profit > 0].profit.count()

1478

In [23]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
#сортируем ДФ по дате релиза фильма и выводим самый кассовый
data['original_title'][data[data['release_year'] == 2008]['revenue'].idxmax()]

'The Dark Knight'

In [25]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
#сортируем ДФ по двум условиям и выводим самый убыточный
data['original_title'][data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]['profit'].idxmin()]

'The Lone Ranger'

In [27]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [28]:
b = []
#функция получает на вход строку, делит ее по разделителю | и формирует список значений
def genre(a):
    lst = a.split("|")
    global b
    b += lst

#формируем список всех жанров и ДФ
data.genres.apply(genre)
#выводим самый часто встречающий в списке жанр
display(Counter(b).most_common(1))

[('Drama', 782)]

In [29]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
b = []
#формируем список всех жанров и ДФ, отсортированного по положительной прибыли
data.genres[data.profit>0].apply(genre)
#выводим самый часто встречающий в списке жанр
display(Counter(b).most_common(1))

[('Drama', 560)]

In [31]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [67]:
#группируем ДФ по имени режиссеров и выводим режиссера с самым большим кассовым сбором
data.groupby(['director']).sum().revenue.idxmax()

'Peter Jackson'

In [33]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
b = []
#создаем новый ДФ, в которм в жанрах присутствует Action
data14 = data[data['genres'].str.contains('Action')]
#формируем список всех режиссеров из нового ДФ
data14.director.apply(genre)
#выводим самого часто встречающегося режиссера из списка
display(Counter(b).most_common(1))

[('Robert Rodriguez', 9)]

In [35]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [3]:
#создаем новый ДФ с релизом фильмов в 2012 г.
data15 = data[data.release_year == 2012].reset_index()
#создаем в колонке Cast список из актеров по каждому фильму
data15['cast'] = data15.cast.str.split('|')
#реконструируем ДФ таким образом, чтобы в колонке Cast находилось по 1 актеру
#остальные колонки дублируются соответственно списку актеров в фильме
data15 = data15.explode('cast')
#группируем ДФ по имени актеров и выводим актера с самым большим кассовым сбором
data15.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(1)

NameError: name 'data' is not defined

In [37]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
#создаем новый ДФ с бюджетом выше среднего
data16 = data[data.budget > data.budget.mean()].reset_index()
#создаем в колонке Cast список из актеров по каждому фильму
data16['cast'] = data16.cast.str.split('|')
#реконструируем ДФ таким образом, чтобы в колонке Cast находилось по 1 актеру
#остальные колонки дублируются соответственно списку актеров в фильме
data16 = data16.explode('cast')
#выводим самого часто встречающегося актера
data16['cast'].value_counts().index[0]

'Matt Damon'

In [39]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
#создаем новый ДФ с филмами с Nicolas Cage
data17 = data[data['cast'].str.contains('Nicolas Cage')]
#создаем список всех жанров нового ДФ
data17.genres.apply(genre)
#выводим самый частый жанр
display(Counter(b).most_common(1))

[('Action', 17)]

In [41]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
#сортируем ДФ по студии Paramount Pictures и выводим название самого убыточного фильма
data['original_title'][data[data['production_companies'].str.contains('Paramount Pictures')]['profit'].idxmin()]

'K-19: The Widowmaker'

In [43]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
#группируем ДФ по годам релизов и выводим год с суммарными самыми большими сборами
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [45]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
#создаем новый ДФ с данными по фильмам от студии Warner Bros
data20 = data[data['production_companies'].str.contains('Warner Bros')]
#группируем новый ДФ по годам релизов и выводим год с самой большой суммарной прибылью
data20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [47]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
b_21 = []
#функция из строки формирует список значений, отбрасывая 2 последних
def month(a):
    lst = a.split("/")
    global b_21
    b_21 += lst
    del b_21[-1]
    del b_21[-1]
    

b_21 = []    
#создаем список месяцов релилизов по всему ДФ
data.release_date.apply(month)
#выводим самый частый месяц из списка
display(Counter(b_21).most_common(1))

[('9', 227)]

In [49]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
#суммипуем летние месяцы из списка и выводим значение
display(b_21.count('6') + b_21.count('7') + b_21.count('8'))

450

In [51]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
#добавляем в ДФ новую колонку значений месяцев релизов
data['month'] = b_21
b = []
#формируем новый ДФ с зимними месяцами релизов
data23 = data.query('month in ["12","1","2"]')
#выводим самого часто встречающегося режиссера
data23['director'].value_counts().index[0]

'Peter Jackson'

In [53]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
#формируем новый ДФ
data24 = data.copy()
#создаем в колонке production_companies список из студий по каждому фильму
data24['production_companies'] = data.production_companies.str.split('|')
#реконструируем ДФ таким образом, чтобы в колонке production_companies находилось по 1 актеру
#остальные колонки дублируются соответственно списку студий для фильма
data24 = data24.explode('production_companies')
#добавляем колонку с длиной названия фильма
data24['leght'] = data24.original_title.apply(lambda a: len(a))
#группируем ДФ по студиям и вычисляем самое длинное среднее название фильма
data24.groupby(['production_companies'])['leght'].mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: leght, dtype: float64

In [55]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
#формируем новый ДФ
data25 = data.copy()
#создаем в колонке production_companies список из студий по каждому фильму
data25['production_companies'] = data.production_companies.str.split('|')
#реконструируем ДФ таким образом, чтобы в колонке production_companies находилось по 1 актеру
#остальные колонки дублируются соответственно списку студий для фильма
data25 = data25.explode('production_companies')
#добавляем колонку с количеством слов в описании
data25['leght'] = data25.overview.apply(lambda a: len(a.split()))
#группируем ДФ по студиям и вычисляем самое длинное среднее по кол-ву слов описание фильма
data25.groupby(['production_companies'])['leght'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    175.0
Name: leght, dtype: float64

In [57]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
#формируем новый ДФ, отсортированный по рейтингу
data26 = data.sort_values(by = 'vote_average',ascending = False)
#изменяем ДФ, оставляя в нем только 1% лучших по рейтингу фильмов
data26 = data26[:round(len(data.index)*0.01)]
#выводим список лучших фильмов
display(data26.original_title)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

In [59]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [60]:
#загружаем необходимую библиотеку
import itertools

#создаем новый ДФ со всеми актерами по каждому фильму
data27 = data[['cast']].reset_index()
#в колонке с актерами создаем список из актеров, которые играли вместе в каждом фильме
data27['cast'] = data27.cast.str.split('|')
#создаем новую колонку в ДФ с возможными парами актеров для каждого фильма
data27['act'] = data27.cast.apply(lambda a: list(itertools.combinations(a, 2)))
#создаем список со всеми парами актеров
pairs = [item for sublist in data27['act'].values for item in sublist]
#выводим наболее чато встречающуюся пару
display(Counter(pairs).most_common(1))

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [61]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27